table {
	border : 2px solid gray;
}
tr,th {
	background-color : DarkOliveGreen;
	color : white;
}
tr,td {
	background-color : DarkKhaki;
	color : GhostWhite;
}
td:hover {
	background-color : GhostWhite;
	color :DarkKhaki;
}
